<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>studentmanage01</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.dante.studentmanage.control.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/user/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.dante.studentmanage.control.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/user/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyTeacherServlet</servlet-name>
    <servlet-class>com.dante.studentmanage.control.ModifyTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyTeacherServlet</servlet-name>
    <url-pattern>/teacher/modifyTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listTeacherServlet</servlet-name>
    <servlet-class>com.dante.studentmanage.control.ListTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listTeacherServlet</servlet-name>
    <url-pattern>/teacher/listTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getByTidServlet</servlet-name>
    <servlet-class>com.dante.studentmanage.control.GetByTidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getByTidServlet</servlet-name>
    <url-pattern>/teacher/getByTidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getCourseByTidServlet</servlet-name>
    <servlet-class>com.dante.studentmanage.control.GetCourseByTidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getCourseByTidServlet</servlet-name>
    <url-pattern>/course/getCourseByTidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listCourseServlet</servlet-name>
    <servlet-class>com.dante.studentmanage.control.ListCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listCourseServlet</servlet-name>
    <url-pattern>/course/listCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addCourseServlet</servlet-name>
    <servlet-class>com.dante.studentmanage.control.AddCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCourseServlet</servlet-name>
    <url-pattern>/course/addCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getByCidServlet</servlet-name>
    <servlet-class>com.dante.studentmanage.control.GetByCidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getByCidServlet</servlet-name>
    <url-pattern>/course/getByCidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyCourseServlet</servlet-name>
    <servlet-class>com.dante.studentmanage.control.ModifyCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyCourseServlet</servlet-name>
    <url-pattern>/course/modifyCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addCSServlet</servlet-name>
    <servlet-class>com.dante.studentmanage.control.AddCSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCSServlet</servlet-name>
    <url-pattern>/cs/addCSServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>doAddCS</servlet-name>
    <servlet-class>com.dante.studentmanage.control.DoAddCS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doAddCS</servlet-name>
    <url-pattern>/cs/doAddCS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addCS</servlet-name>
    <servlet-class>com.dante.studentmanage.control.AddCS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCS</servlet-name>
    <url-pattern>/cs/addCS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getByUidServlet</servlet-name>
    <servlet-class>com.dante.studentmanage.control.getByUidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getByUidServlet</servlet-name>
    <url-pattern>/user/getByUidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListUserServlet</servlet-name>
    <servlet-class>com.dante.studentmanage.control.ListUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUserServlet</servlet-name>
    <url-pattern>/user/ListUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteUserServlet</servlet-name>
    <servlet-class>com.dante.studentmanage.control.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteUserServlet</servlet-name>
    <url-pattern>/user/deleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.dante.studentmanage.control.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/user/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyStudentServlet</servlet-name>
    <servlet-class>com.dante.studentmanage.control.ModifyStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyStudentServlet</servlet-name>
    <url-pattern>/student/modifyStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getBySidServlet</servlet-name>
    <servlet-class>com.dante.studentmanage.control.GetBySidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getBySidServlet</servlet-name>
    <url-pattern>/student/getBySidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteStudentServlet</servlet-name>
    <servlet-class>com.dante.studentmanage.control.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteStudentServlet</servlet-name>
    <url-pattern>/student/deleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListStudentServlet</servlet-name>
    <servlet-class>com.dante.studentmanage.control.ListStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListStudentServlet</servlet-name>
    <url-pattern>/student/ListStudentServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.dante.studentmanage.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/login/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.dante.studentmanage.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>ModifyTeacherServlet</display-name>
    <servlet-name>ModifyTeacherServlet</servlet-name>
    <servlet-class>com.dante.studentmanage.control.ModifyTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyTeacherServlet</servlet-name>
    <url-pattern>/teacher/ModifyTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListTeacherServlet</display-name>
    <servlet-name>ListTeacherServlet</servlet-name>
    <servlet-class>com.dante.studentmanage.control.ListTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListTeacherServlet</servlet-name>
    <url-pattern>/ListTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCourseByTidServlet</display-name>
    <servlet-name>GetCourseByTidServlet</servlet-name>
    <servlet-class>com.dante.studentmanage.control.GetCourseByTidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCourseByTidServlet</servlet-name>
    <url-pattern>/GetCourseByTidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCourseServlet</display-name>
    <servlet-name>ListCourseServlet</servlet-name>
    <servlet-class>com.dante.studentmanage.control.ListCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCourseServlet</servlet-name>
    <url-pattern>/ListCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCourseServlet</display-name>
    <servlet-name>AddCourseServlet</servlet-name>
    <servlet-class>com.dante.studentmanage.control.AddCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourseServlet</servlet-name>
    <url-pattern>/AddCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetByCidServlet</display-name>
    <servlet-name>GetByCidServlet</servlet-name>
    <servlet-class>com.dante.studentmanage.control.GetByCidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetByCidServlet</servlet-name>
    <url-pattern>/GetByCidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyCourseServlet</display-name>
    <servlet-name>ModifyCourseServlet</servlet-name>
    <servlet-class>com.dante.studentmanage.control.ModifyCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyCourseServlet</servlet-name>
    <url-pattern>/ModifyCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCS</display-name>
    <servlet-name>AddCS</servlet-name>
    <servlet-class>com.dante.studentmanage.control.AddCS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCS</servlet-name>
    <url-pattern>/AddCS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCSServlet</display-name>
    <servlet-name>AddCSServlet</servlet-name>
    <servlet-class>com.dante.studentmanage.control.AddCSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCSServlet</servlet-name>
    <url-pattern>/AddCSServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCSServlet</display-name>
    <servlet-name>DeleteCSServlet</servlet-name>
    <servlet-class>com.dante.studentmanage.control.DeleteCSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCSServlet</servlet-name>
    <url-pattern>/DeleteCSServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoAddCS</display-name>
    <servlet-name>DoAddCS</servlet-name>
    <servlet-class>com.dante.studentmanage.control.DoAddCS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoAddCS</servlet-name>
    <url-pattern>/DoAddCS</url-pattern>
  </servlet-mapping>
</web-app>