@CHARSET "UTF-8";
.login_m{
	width: 400px;
	heigh: 400px;
	margin: 0 auto;
	margin-top: 150px;
}
.login_logo{
	text-align: center;
	margin-bottom: 25px;
}
.login_border{
	heigh:320px;
	text-align:justify;
	padding:50px 50px 50px;
	background-image: url("../img/logo_bg.jpg");
	/*background-color: olive;*/
}
input.text_input{
	width:300px;
	heigh:40px;
	margin: 0 auto;
}
input.text_input2{
	margin:20px;
	width:300px;
	heigh:40px;
	margin: 0 auto;
}
input.button1{
	width:90px;
	heigh:200px;
	margin-left: 212px;
}